<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="VirtualBingo.Helpers.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <VirtualBingo.Helpers.Properties.Settings>
            <setting name="Settings_TemporaryDirectory" serializeAs="String">
                <value />
            </setting>
            <setting name="Settings_GamesDirectory" serializeAs="String">
                <value />
            </setting>
            <setting name="Settings_NarrateQuestionTitle" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Preferences_FilterSelectedLanguage" serializeAs="String">
                <value />
            </setting>
            <setting name="Preferences_FilterSelectedSubject" serializeAs="String">
                <value />
            </setting>
            <setting name="Preferences_FilterSelectedTopic" serializeAs="String">
                <value />
            </setting>
        </VirtualBingo.Helpers.Properties.Settings>
    </userSettings>
</configuration>